/* Physical Dimesnions of components Library */ 

#pcb-top {
  background-color: green;
  width: 150mm;
  height: 150mm;
}

.physical-screen {
}

.submit-physical-button {
  background-size: cover !important;
  background-color: white !important;
  background-repeat: no-repeat;
  background-size: auto;
}

.range-physical-dynamic-range {
  -webkit-appearance: none; 
  background-repeat: no-repeat;
  border: 1px solid black;
}

.range-physical-dynamic-range::-webkit-slider-runnable-track {
  background: #ddd;
  height: 10px;
}
.range-physical-dynamic-range::-webkit-slider-thumb {
  background: red;
  margin-top: -5px;
  width: 16px;
}

.range-physical-static-range {
  -webkit-appearance: none; 
  background-repeat: no-repeat;
  border: 1px solid black;
}

.range-physical-static-range::-webkit-slider-runnable-track {
  background: #ddd;
  height: 10px;
}
.range-physical-static-range::-webkit-slider-thumb {
  background: red;
  margin-top: -5px;
  width: 16px;
}