#next {
  hardware: physical-button (gpio:"4");
}

physical-button {
  display: none;
}

#prev {
  hardware: physical-button (gpio:"17");
}

physical-button {
  display: none;
}

#playPause {
  hardware: physical-button (gpio:"27");
}

physical-button {
  display: none;
}

#progressBar {
  hardware: physical-motorized-pot (motora:"22",motorb:"5",touch:"6",i2c-addr:0x48,i2c-port:url("/dev/i2c-1");
}

physical-motorized-pot {
  display: none;
}

